db:
  host: localhost
  database: gis
  user: gis
  password: password
  dem10: dem10
  gebco: gebco
  srtm3: srtm3
path:
  gdal: /usr/bin
  gmt: /usr/bin
  imagemagick: /usr/bin
  generated_files: /home/user/files
mattermost:
  server: https://chat.hamajima.co.jp
  access_token: *** fill me ***
  outgoing_hook_token: *** fill me ***
download:
  base_uri: http://example.com/
